---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="dr.KOoo - 个人作品集">
  <Navigation />
  <main>
    <Hero />
    <Projects />
    <AboutMe />
    <Contact />
  </main>
</Layout>
